fastapi==0.124.2
uvicorn[standard]==0.38.0
SQLAlchemy==2.0.44
psycopg[binary]==3.2.13
boto3==1.42.61
google-auth==2.53.0
azure-identity==1.25.3
azure-mgmt-compute==37.2.0
azure-mgmt-network==30.2.0
paramiko==4.0.0
pyvmomi==9.0.0.0
httpx==0.28.1
